@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');

:root {
  --color-dark-blue: #084154;
  --color-blue: #3ec6e0;
  --color-silver: #ebebeb;

  --color-white: #ffffff;
  --color-black: #000000;
  --color-black-transparent: rgba(0, 0, 0, 0.65);

  --box-shadow: 0px 4px 20px 7px rgba(0, 0, 0, 0.07);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e5e5e5;
}
